<h1>My First Ruby on Rails App!</h1>

Welcome, this is my first Ruby on Rails app...How cool am I? This is a todoapp.
<br>
<%= link_to "See the current Full List of todos page", todos_path %>

<form>
    <input id="datepicker" placeholder="Select Date"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>