<h1>Showing a Todo</h1>
<p>
name: <%= @todo.name %>
</p>

<p>
Description: <%= @todo.description %>
</p>

<%= link_to "I want to Edit this todo", edit_todo_path() %> |
<%= link_to "Back to the Full List of todos", todos_path %>